.about-me{
  h2{
    color: black;
  }
  p em{
    color: black;
  }
  @media (max-width: 600px) {
    p{
      font-size: large;
      @media (max-width: 400px) {
        font-size: medium;
      }
    }
  }
}