
.navbar{
  a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    }
    img{
        width: 15%;
        height: auto
    }
  }

  .navbar-light .navbar-toggler{
      color: white;
      border-color: white;
      border-style: solid;
      border-width: thick;
      border-radius: 15%;
    }

  @media (max-width: 770px){
  .navbar-collapse{
    a{
    display: flex;
    justify-content: center;
    padding: 0.5vh;
    }
  }
}
@media (min-width: 768px){
.navbar-expand-md .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
}
}