.p-content {
  // display: flex;
  // justify-content: center;
  margin: auto;
  width: 75%;
}
  a{
  img {
    border-radius: 7%;
    padding-bottom: 2vh;
  }
  display: flex;
}
section h2{
  color: black;
}
h3{
  display: flex;
  color: black;
  font-size: xx-large;
  font-weight: bolder;
  justify-content: center;
  @media (max-width: 440px) {
    text-align: center;
  }
}
h5 {
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      list-style-type: none;
      display: inline;
      margin: 8px;
      font-size: small;
      // font-weight: bold;
      color: black;
      justify-content: center;
    }
  }
}
.bottom-links {
  display: flex;
  justify-content: space-around;
  @media (max-width: 420px) {
    display: flex;
  }
  a {
    text-decoration: none;
    // color: gold;
  }
}
.carousel-indicators {
  bottom: -7vh;
}
.carousel-control-prev, .carousel-control-next {
  width: 10%;
}